html {
  font-family: sans-serif;
  background-color: #ecf0f1;
  border-top: 3px solid #2c3e50;
}

#main-container {
  width: 90%;
  max-width: 900px;
  margin: 200px auto;
  text-align: center;
}

.app-title {
  color: #2c3e50;
  font-size: 2.8em;
}



label {
  color: #e67e22;
  font-weight: 100;
  font-size: 1em;
}

input[type="number"] {
  width: 30px;
  height: 38px;
  text-align: center;
  padding-left: 10px;
  background-color: #ecf0f1;
  color: #454545;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  
}

input[type="number"]:focus {
  background-color: white;
  color: black;
  border-color: black;
}

input[type="text"] {
  background-color:  #ecf0f1;
  border-top: none;
  border-left: none;
  border-bottom: 1px dashed #3e3e3e;
}


#next-btn {
  display: block;
  margin: 10px auto;
  width: 40%;
  height: 38px;
  background-color: #e67e22;
  color: white;
  border-top : none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #905017;
  border-radius: 1px;
  cursor: pointer;
  
}

/* Table UI styles
===========================*/
table {
  margin-top: 50px;
  width: 100%;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
}

thead td {
  background-color: #FCFCFC;
  font-size: 1.3em;
  font-weight: bold;
  padding: 20px 0px;
  color: #446a90;
  border-bottom: 2px solid #d3d3d3;
}

tbody td {
  font-size: 1.1em;
  font-weight: 100;
  padding: 20px 0px;
  color: #2c3e50;
  border-bottom: 2px solid #d3d3d3;
}

td button {
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  background: none;
  color: #e67e22;
  height: 30px;
  width: 30px;
}

td button:focus {
  outline: none;
}

td button:active {
  border-color: #9f5819;
  background-color: #e67e22;
  color: #fff;
}