<!DOCTYPE html>
<html ng-app="rateMySpeaker">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Seminar Speaker Rating</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  <script src="js/angular.min.js"></script>  
  <script src="js/app-ng.js"></script>
</head>
<body ng-controller="rate">
  <div class="toolbar">
    <div class="evalControls">
      <label for="numOfEvals">Number of Evaluations</label>
      <input id="numOfEvals" type="number" min="1" ng-model="numOfEvaluations">
    </div>
    
    <div class="speechControls">
      <button class="action-btn" ng-click="addSpeech()">
        <img src="icons/ic_add_24px.svg">
      </button>
      
      <button class="action-btn" ng-click="removeSpeech()">
        <img src="icons/ic_remove_24px.svg">
      </button>
      
      <button class="action-btn" ng-click="undo()" ng-if="ratingData.length != 0">
        <img src="icons/ic_undo_24px.svg">
      </button>
      
      <button class="action-btn" ng-click="save(ratingData)" ng-if="ratingData.length != 0">
        <img src="icons/ic_save_24px.svg">
      </button>
    </div>
  </div>
  <section id="main-container" >
      <h1 class="app-title">Seminar Speaker Rating</h1>
    
    <span>Number of Speeches <span class="number-data">{{ numOfSpeeches}}</span></span>
    
    <div>You're currently on evaluation <span class="number-data">{{evalCounter}}</span> out of {{numOfEvaluations}}<div>
     
    <div class="save-status">{{ saveStatus }}</div>
      
    <table ng-show="showTableUI()" id="main-table" ng-hide="reportIsShown">
      <thead>
        <tr>
          <td>Speech Number</td>
          <td>Speaker Name</td>
          <td colspan="9">Rating</td>
          <td>Average</td>
        </tr>
        <tbody ng-repeat="speech in ratingData">
          <tr>
            <td><span ng-show="isActive($index)" class="active-indicator"></span>Speech # {{$index + 1}}</td>
            <td>
              <input class="placeholder" type="text" value="{{speech.speaker_name}}" ng-model="speech.speaker_name" ng-blur="saveSpeakerName($event)">
            </td>
            
            <!-- rating buttons -->
            <td>
              <button ng-click="noAnswer($index); updateCounter()" ng-disabled="!isActive($index)">-</button>
            </td>
            
            <td>
              <button value="1" ng-click="add($index, $event); updateCounter()" ng-disabled="!isActive($index)">1</button>
            </td>
            
            <td>
              <button value="2" ng-click="add($index, $event); updateCounter()" ng-disabled="!isActive($index)">2</button>
            </td>
            
            <td>
              <button value="3" ng-click="add($index, $event); updateCounter()" ng-disabled="!isActive($index)">3</button>
            </td>
            
            <td>
              <button value="4" ng-click="add($index, $event); updateCounter()" ng-disabled="!isActive($index)">4</button>
            </td>
            
            <td>
              <button value="5" ng-click="add($index, $event); updateCounter()" ng-disabled="!isActive($index)">5</button>
            </td>
            
            <td>
              <button value="6" ng-click="add($index, $event); updateCounter()" ng-disabled="!isActive($index)">6</button>
            </td>
            
            <td>
              <button value="7" ng-click="add($index, $event); updateCounter()" ng-disabled="!isActive($index)">7</button>
            </td>
            <td>
              <button class="delete-btn" ng-click="subtract($index)" ng-disabled="!isActive($index)">+</button>
            </td>
            <td class="number-data">
              {{speech.average_score = speech.total_score / speech.num_of_grades | number: 2}}
            </td> 
          </tr>
        </tbody>
      </thead>
    </table>
      
      <!-- section analytics report -->
      <section class="cf" id="analytics-report" ng-if="showAnalytics()">
        
        <div class="row cf">
          <div class="col">
            <div class="card">
              <h2 class="card-title">Speaker Score Ranking</h2>
              <ol>
                <li ng-repeat="speaker in rankedSpeakers">
                  {{speaker.name}} got a {{speaker.avg | number: 2}}
                </li>
              </ol>
            </div>
          </div>
          
          <div class="col">
            <div class="card">
              <h2 class="card-title">Highest Rated Speaker</h2>
              <h3 class="number-data">{{rankedSpeakers[0].name}} ( {{rankedSpeakers[0].avg | number:2}} )</h3>
            </div>
            
             <div class="card">
              <h2 class="card-title">Median</h2>
              <h3 class="number-data">{{ median }}</h3>
            </div>
            
            <div class="card">
              <h2 class="card-title">Average</h2>
              <h3 class="number-data">{{ average }}</h3>
            </div>
            
          </div>
        </div>
        
        
      </section>
    
    
<!--
   <div class="debug" style="text-align:left;">
      <pre ng-bind="ratingData | json">
      </pre>
    </div>
-->


  </section>
    <!-- modal -->
      <div class="modal-wrap" ng-if="isGradingDone()" ng-hide="reportIsShown">
          <h2>Woo! All Done!</h2>
          <p>You have completed grading all {{ numOfEvaluations }} evaluations</p>
          <p>Click the button below to get an overview of the whole program.</p>
          <button ng-click="getAnalytics(ratingData); hideModal()" class="get-results-btn">
            See Report
          </button>
      </div>

</body>
</html>