<!DOCTYPE html>
<html ng-app="rateMySpeaker">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Seminar Speaker Rating</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  <script src="js/angular.min.js"></script>  
  <script src="js/app-ng.js"></script>
</head>
<body ng-controller="rate">
  <div class="toolbar">
    <div class="evalControls">
      <label for="numOfEvals">Number of Evaluations</label>
      <input id="numOfEvals" type="number" min="1" ng-model="numOfEvaluations">
    </div>
    
    <div class="speechControls"><button class="action-btn" ng-click="addSpeech()">+</button><button class="action-btn" ng-click="removeSpeech()">-</button>
</div>
  </div>
  <section id="main-container" >
      <h1 class="app-title">Seminar Speaker Rating</h1>
    
   <span>Number of Speeches</span>
      <div>{{ numOfSpeeches}}</div>
    
     <span>You're currently on evaluation {{evalCounter}} out of {{numOfEvaluations}}<span>
     
  
    <table ng-show="showTableUI()" id="main-table">
      <thead>
        <tr>
          <td>Speech Number</td>
          <td>Speaker Name</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Average</td>
        </tr>
        <tbody ng-repeat="speech in ratingData">
          <tr>
            <td><span ng-show="isActive($index)" class="active-indicator"></span>Speech # {{$index + 1}}</td>
            <td>
              <input class="placeholder" type="text" value="{{speech.speaker_name}}" ng-model="speech.speaker_name" ng-blur="saveSpeakerName($event)">
            </td>
            
            <!-- rating buttons -->
            <td>
              <button ng-click="speech.total_score = speech.total_score + 0; updateCounter()" ng-disabled="!isActive($index)">0</button>
            </td>
            
            <td>
              <button ng-click="speech.total_score = speech.total_score + 1; updateCounter()" ng-disabled="!isActive($index)">1</button>
            </td>
            
            <td>
              <button ng-click="speech.total_score = speech.total_score + 2; updateCounter()" ng-disabled="!isActive($index)">2</button>
            </td>
            
            <td>
              <button ng-click="speech.total_score = speech.total_score + 3; updateCounter()" ng-disabled="!isActive($index)">3</button>
            </td>
            
            <td>
              <button ng-click="speech.total_score = speech.total_score + 4; updateCounter()" ng-disabled="!isActive($index)">4</button>
            </td>
            
            <td>
              <button ng-click="speech.total_score = speech.total_score + 5; updateCounter()" ng-disabled="!isActive($index)">5</button>
            </td>
            
            <td>
              <button ng-click="speech.total_score = speech.total_score + 6; updateCounter()" ng-disabled="!isActive($index)">6</button>
            </td>
            
            <td>
              <button ng-click="speech.total_score = speech.total_score + 7; updateCounter()" ng-disabled="!isActive($index)">7</button>
            </td>
            <td class="avg-output">
              {{speech.average_score = speech.total_score / numOfEvaluations | number: 2}}
            </td> 
          </tr>
        </tbody>
      </thead>
    </table>
<!--
   <div class="debug" style="text-align:left;">
      <pre ng-bind="ratingData | json">
      </pre>
    </div>
-->
  </section>
<footer>
</footer>

</body>
</html>