<!DOCTYPE html>
<html ng-app="rateMySpeaker">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Seminar Speaker Rating</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="js/angular.min.js"></script>  
  <script src="js/app-ng.js"></script>
</head>
<body ng-cloak>
  <section id="main-container" ng-controller="rate">
    <table id="main-table" ng-cloak>
      <thead>
        <tr>
          <td>Speech Number</td>
          <td>Speaker Name</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Total Score</td>
        </tr>
        <tbody ng-repeat="speech in ratingData" ng-cloak>
          <tr>
            <td>Speech # {{$index + 1}}</td>
            <td>{{speech.speaker_name}}</td>
            <td><button ng-click="speech.total_score = speech.total_score + 1">1</button></td>
            <td><button ng-click="speech.total_score = speech.total_score + 2">2</button></td>
            <td><button ng-click="speech.total_score = speech.total_score + 3">3</button></td>
            <td><button ng-click="speech.total_score = speech.total_score + 4">4</button></td>
            <td><button ng-click="speech.total_score = speech.total_score + 5">5</button></td>
            <td><button ng-click="speech.total_score = speech.total_score + 6">6</button></td>
            <td><button ng-click="speech.total_score = speech.total_score + 7">7</button></td>
            <td>{{speech.total_score}}</td> 
          </tr>
        </tbody>
      </thead>
    </table>
  </section>
<footer>
</footer>

</body>
</html>